[submodule "hdl"]
	path = hdl
	url = https://github.com/signalens/hdl
	branch = signalsdrpi
[submodule "linux"]
	path = linux
	url = https://github.com/signalens/linux
	branch = signalsdrpi
[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/signalens/u-boot-xlnx
	branch = signalsdrpi
