[submodule "buildroot"]
	path = buildroot
	url = https://github.com/signalens/buildroot
	branch = signalsdrpi
[submodule "hdl"]
	path = hdl
	url = https://github.com/signalens/hdl
	branch = signalsdrpi
